<div class="account-content">
    <div class="account-drop-inner">
        <a href="{{ path('_pages_show') }}" id="acc-settings">{{ 'Strony'|trans({},'gsSettingMenu') }}</a>
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="{{ path('_pages_block_show') }}" id="acc-settings">{{ 'Blok'|trans({},'gsSettingMenu') }}</a>
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="{{ path('_metatag_show') }}" id="acc-settings">{{ 'Meta Tagi'|trans({},'gsSettingMenu') }}</a>
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="{{ path('_settings_show') }}" id="acc-project">{{ 'Ustawienia'|trans({},'gsSettingMenu') }}</a>
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="{{ path('_users_show') }}" id="acc-stats">{{ 'Użytkownicy'|trans({},'gsSettingMenu') }}</a> 
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="{{ path('_counter_show') }}" id="acc-stats">{{ 'Statystyki'|trans({},'gsSettingMenu') }}</a>         
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="{{ path('_languages_show') }}" id="acc-stats">{{ 'Tłumaczenia'|trans({},'gsSettingMenu') }}</a> 
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="{{ path('_users_logs_show') }}" id="acc-stats">{{ 'Logi użytkowników'|trans({},'gsSettingMenu') }}</a> 
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="{{ path('_email_reporting_show') }}" id="acc-stats">{{ 'Email Reporting'|trans({},'gsSettingMenu') }}</a> 
        <div class="clear">&nbsp;</div>
        <div class="acc-line">&nbsp;</div>
        <a href="{{ path('_newsletter_show') }}" id="acc-stats">{{ 'Newsletter Emaile'|trans({},'gsSettingMenu') }}</a> 
    </div>
</div>     