{% extends "AppBackendBundle::layout.html.twig" %}

{% block title "Opinie" %}
{% block page_title "Lista opinii" %}

{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Opinie o portalu</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <div class="row">
            </div>

            <div class="table-responsive">
                <form action="#" id="multiform" method="post" name="multiform">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr class="headings">
                            <th>
                                <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">{{ knp_pagination_sortable(pager,'#', 'a.id')|raw }}</th>
                            <th class="column-title {% if pager.isSorted('a.Published') %} sorted{% endif %}">{{ knp_pagination_sortable(pager,'Tytuł', 'a.published')|raw }}</th>
                            <th class="column-title {% if pager.isSorted('a.name') %} sorted{% endif %}">{{ knp_pagination_sortable(pager,'Name', 'a.name')|raw }}</th>
                            <th class="column-title {% if pager.isSorted('a.email') %} sorted{% endif %}">{{ knp_pagination_sortable(pager,'Email', 'a.email')|raw }}</th>
                            <th class="column-title {% if pager.isSorted('a.message') %} sorted{% endif %}">{{ knp_pagination_sortable(pager,'Opinia', 'a.message')|raw }}</th>
                            <th class="column-title {% if pager.isSorted('a.createdAt') %} sorted{% endif %}">{{ knp_pagination_sortable(pager,'Stworzona', 'a.createdAt')|raw }}</th>
                            <th class="column-title {% if pager.isSorted('a.updatedAt') %} sorted{% endif %}">{{ knp_pagination_sortable(pager,'Poprawiona', 'a.updatedAt')|raw }}</th>

                            <th class="column-title no-link last"><span class="nobr">Action</span></th>
                            <th class="bulk-actions" colspan="10">
                                <a class="antoo" style="color:#fff; font-weight:500;">Operacja na wielu wierszach ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for key, row in pager %}
                            <tr {% if loop.index is odd %}class="even pointer"{% else %} class="odd pointer"{% endif %}>
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="multiCheckBox[]" value="{{ row.id }}">
                                </td>
                                <td><a class="info-tooltip" title="Edytuj Stronę" href="{{ path('_testimonial_edit', {'id': row.id}) }}">{{ getIIter(pager,key) }}</a></td>
                                <td id="pagesPublish{{row.id}}">
                                    {% if row.published %}
                                        <a class="icon green info-tooltip" Title="{{ 'Nie wyświetlaj strony'|trans({},'gsPages') }}" href="{{ path('_testimonial_unpublished', mergeParams(row)) }}">
                                            <i class="fa fa-check-square"></i>
                                        </a>
                                    {% else %}
                                        <a class="icon info-tooltip" Title="{{ 'Wyświetl stronę'|trans({},'gsPages') }}" href="{{ path('_testimonial_unpublished', mergeParams(row)) }}">
                                            <i class="fa fa-check-square-o"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                <td Id="pages_blockTitle{{row.id}}"><a class="info-tooltip" title="Edytuj Stronę" href="{{ path('_testimonial_edit', {'id': row.id}) }}">{{ row.name }}</a></td>
                                <td>{{ row.name }}</td>
                                <td>{{ row.email }}</td>
                                <td>{{ row.message }}</td>

                                <td>{{ row.createdAt|date("Y/m/d") }}</td>
                                <td>{{ row.updatedAt|date("Y/m/d") }}</td>
                                <td class="last">
                                    <a class="icon info-tooltip" href="{{ path('_testimonial_response', {'id': row.id}) }}" onclick="return confirm('Na pewno chcesz wysłać e-maila o odrzuceniu opinii. ?')" title="Podstrony - Pokazuje listę podstron - umożliwia zarządzanie podstonami"><i class="fa fa-pencil"></i> </a>
                                    <a class="icon info-tooltip" href="{{ path('_testimonial_edit', {'id': row.id}) }}" title="Edycja - Umożliwia edytowanie tekstu - dodawanie obrazków do galerii"><i class="fa fa-arrow-down"></i>  </a>
                                    <a class="icon red info-tooltip" href="{{ path('_testimonial_delete', {'id': row.id}) }}" onclick="return confirm('Napewno chcesz skasować Kategorie ?')" title="Usuń"><i class="fa fa-remove"></i> </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
                {{ knp_pagination_render(pager) }}
            </div>
            <div class="btn-group">
                <button class="btn btn-danger" type="button">Wybierz</button>
                <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a class="action-delete" href="{{ path('_testimonial_multi', mergeParams())}}" id="actions-box-slider-delete" title="{{ 'Multi-kasowanie'|trans({},'gsPages') }}">{{ 'Usuń'|trans({},'gsPages') }}</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
      