{% extends "AppBackendBundle::layout.html.twig" %}

{% block title 'Counter - Licznik'|trans({},'gsCounter') %}
{% block page_title 'Statystyki Ilość odwiedzin w dniu i IP'|trans({},'gsCounter') %}

{% block content_header '' %}

{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            {% include 'AppCounterBundle:Counter:_menu.html.twig' with {'active':'ip'}%}
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu"></ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content ">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action" style="max-width: 300px">
                    <thead>
                    <tr class="headings">
                        <th class="column-title"><a class="sortable info-tooltip" href="#">{{ 'Ilość odwiedzin w dniu i IP'|trans({},'gsCounter') }}</a></th>
                        <th class="column-title"><a class="sortable info-tooltip" href="#">{{ 'IP'|trans({},'gsCounter') }}</a></th>
                        <th class="column-title"><a class="sortable info-tooltip" href="#">{{ 'Data'|trans({},'gsCounter') }}</a></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for key, row in results %}
                        <tr {% if loop.index is odd %}class="even pointer"{% else %} class="odd pointer"{% endif %}>
                            <td>{{ row.count_data }}</td>
                            <td>{{ row.IP }}</td>
                            <td>{{ row.date_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
      