{% extends 'WebWebBundle::base.html.twig' %}

{% block title %}xxx - settings{% endblock %}
{% block meta %}
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">
{% endblock %}        
{% block favicon %}<link rel="icon" sizes="16x16" href="{{ asset('favicon.png') }}" />{% endblock%}  
{% block fonts %}
    <!--FONTS-->
    <link href="/frontend/fonts/PT-Sans/stylesheet.css" rel="stylesheet" type="text/css" />
{% endblock%}  
{% block stylesheets %}
    <!--STYLE-->
    <link href="/frontend/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/frontend/nivo-slider/themes/yellow/yellow.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/frontend/nivo-slider/nivo-slider.css" type="text/css" media="screen" /><link href="/frontend/fonts/PT-Sans/stylesheet.css" rel="stylesheet" type="text/css" />
{% endblock%}  

{% block javascripts %}
    <!--JQUERY-->
    <script src="/frontend/js/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="/frontend/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="/frontend/js/jquery.form.js" type="text/javascript"></script>
    <!--FANCYBOX-->
    <link href="/frontend/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <script src="/frontend/js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="/frontend/js/custom.fancybox.js" type="text/javascript"></script>

    <script src="/frontend/js/custom_jquery.js" type="text/javascript"></script>
    <script src="/backend/js/jquery/customAjax.js" type="text/javascript"></script>
    <!--[if lt IE 8]>
            <link href="ie_style.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if lte IE 7]>
       <script type="text/javascript" src="/frontend/js/ie_png.js"></script>
       <script type="text/javascript">
         ie_png.fix('.png, .box .bg, .box .extra-bg, .box .bottom, #content.top-bg')
       </script>
    <![endif]-->
{% endblock%}

{% block body %}
         {% include 'WebWebBundle::_head.html.twig' %} 
         <div class="wrapper">                             
           <div id="main">                                
                <div id="header">
                    {% include 'WebWebBundle::_logo.html.twig' %}                    
                    <div class="clear"></div>                               
                    {{ render(controller('WebPagesBundle:Menu:show', { 'request': app.request })) }}                          
                    {{ render(controller('WebPagesBundle:Searcher:show', { 'request': app.request })) }}
                    <div class="clear"></div>
                    {{ render(controller('WebPagesBundle:Menu:rental', { 'request': app.request })) }}                    
                    <div class="clear"></div>      
                    {% block navigation %}{% endblock %} 
                </div>
                <div class="clear"></div>    
                {% block slider %} {% endblock%}  
                {% block flush %}{% include 'WebWebBundle::_note.html.twig' %}{% endblock %}
                {% block promote %}{% endblock %}                 
                 <div id="box-left">
                    {% block category %}{% endblock%}
                    {% block cart %}{{ render(controller('WebProductBundle:Cart:show', { 'request': app.request })) }}{% endblock%}    
                    {% block virewed %}{{ render(controller('WebProductBundle:Product:recently', { 'request': app.request })) }}{% endblock%}         
                    {% block newsletter %}{{ render(controller('WebNewsletterBundle:NewsletterEmail:show', { 'request': app.request })) }}{% endblock%}                                                                                                                                        
                     </div>                               
                <div id="content" class="more-round-upper">
                {% block content %}{% endblock %} 
                </div>             
                {% block footer %}{% include 'WebWebBundle::_footer.html.twig' %}{% endblock%}
            </div>            
          </div>
{% endblock %} 