<div class="content-table-inner more-round">		
    <div class="table-content">
        <form id="quickForm{{ pageId }}" class="quickForm" action="{{ path('_pages_translate', {'id':pageId,'culture':culture,'quick':quick}) }}" method="post" {{ form_enctype() }}>
            <fieldset>
                <div>
                    {{ form_errors(form) }}
                    {{ form_widget(form._token) }}    
                </div>   
                <div class="field"></div>      
                <div class="field">
                    <div>{{ form_label(form.title) }}</div>
                    <div>{{ form_widget(form.title, { 'attr': {'class': 'foo'} }) }}</div>
                    <div>{{ form_errors(form.title) }}</div>    
                </div>  

                <?php if (showColumnShort()): ?>
                    <div class="field">
                        <div>{{ form_label(form.short) }}</div>
                        <div>{{ form_widget(form.short, { 'attr': {'class': 'foo'} }) }}</div>
                        <div>{{ form_errors(form.short) }}</div>  
                    </div>  
                <?php endif; ?>

                <?php if (showColumnDescription()): ?>
                    <div class="field">
                        <div>{{ form_label(form.description) }}</div>
                        <div>{{ form_widget(form.description, { 'attr': {'style': 'width:900px;height:150px'} }) }}                                            
                        </div>
                        <div>{{ form_errors(form.description) }}</div>                                
                    </div>  
                <?php endif; ?>
                <div class="field">
                    <div>{{ form_label(form.published) }}</div>
                    <div>{{ form_widget(form.published, { 'attr': {'class': 'foo'} }) }}</div>
                    <div>{{ form_errors(form.published) }}</div>            
                </div>
                <div>
                    <a href="#" onclick="gsAjax.ToggleMeta(this); return false" class="btn-meta">Edytuj MetaTagi</a>
                    <div class="meta-tag-content">                                              
                        <div class="field">
                            <div>{{ form_label(form.metaTitle) }}</div>
                            <div>{{ form_widget(form.metaTitle, { 'attr': {'class': 'foo'} }) }}</div>
                            <div>{{ form_errors(form.metaTitle) }}</div>              
                        </div>  
                        <div class="field">
                            <div>{{ form_label(form.metaKeywords) }}</div>
                            <div>{{ form_widget(form.metaKeywords, { 'attr': {'class': 'foo'} }) }}</div>
                            <div>{{ form_errors(form.metaKeywords) }}</div>            
                        </div>    
                        <div class="field">
                            <div>{{ form_label(form.metaDescription) }}</div>
                            <div>{{ form_widget(form.metaDescription, { 'attr': {'class': 'foo'} }) }}</div>
                            <div>{{ form_errors(form.metaDescription) }}</div>                
                        </div> 
                     </div>   
                </div>     
                
                <div class="field">           
                    <a class="btn close round box-shadow" href="#load-form{{ pageId }}" onclick="gsAjax.CloseForm(this,{{ pageId }})">Zamknij</a> 
                    <div class="submit">        
                        <input type="submit" value="Zapisz" onclick="gsAjax.saveForm('#load-form', {id:{{ pageId }},feedback:'{{ feedback }}',ParentId:'{{ ParentId }}'});return false;" class="round"/>        
                        <span class="loader"><p id="LoadingInfo{{ pageId }}"></p></span>
                    </div> 
                </div> 
            </fieldset>

        </form>
    </div>   
</div>