<script type="text/javascript" language="javascript" src="{{ asset('backend/js/jquery/jquery.form.js') }}"></script>
<script type="text/javascript" language="javascript" src="{{ asset('backend/js/gs/customAjax.js') }}"></script>

<div class="content-table-inner gallery more-round" style="margin-top:20px">		
    <!--  start table-content  -->
    <div class="table-content"> 
        {% if quick != true %}
            <h2>Galeria</h2>    
        {% endif %}        
        <fieldset class="gallery">
            {% if quick != true %}
            <legend>Dodaj zdjęcie lub dokument do Produktu</legend>            
            {% endif %}        
            {% if quick %}
                <a class="btn close round box-shadow" href="#load-form{{ id }}">Zamknij Edycję Galerii</a> 
            {% endif %}        
            
            <form action="{{ path('_files_product_upload') }}" method="post" id="FileManager{{ id }}">
                 {{ form_widget(form.id) }}
                    {{ form_widget(form._token) }}
                 
                <div class="field">
                    <div></div>
                    <div>{{ form_label(form.sourceTitle) }}</div>
                    <div style="margin-left: 140px;">{{ form_label(form.sourceFile) }}</div>
                </div>  
                <div class="clear"></div>
                <div class="field">
                    <div>{{ form_widget(form.sourceTitle) }}</div>
                    <div>               
                        {% if chackOldBrowser() %}                         
                          <div class="file">                              
                              <div class="input-file"></div>                          
                              <span class="input-file-btn">Wybierz<p id="LoadingInfo{{ id }}"></p></span>                                  
                              {{ form_widget(form.sourceFile) }}
                              <input type="submit" value="Dodaj" class="round"/>   
                          </div>                          
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    $("span.input-file-btn").click(function(){                                                                                                                      
                                         var parent = $(this).parent();
                                         $("input[type=file]",parent).click();
                                         $("input[type=file]",parent).change(function(){                                             
                                             $("div",parent).html($(this).val());
                                         });                                                                                 
                                    });
                                });
                            </script>
                           {% else %}
                            {{ form_widget(form.sourceFile) }}
                            <input type="submit" value="Dodaj" class="round"/>   
                            <span class="loader"><p id="LoadingInfo{{ id }}"></p></span>
                           {% endif %}
                    </div>                    
                    <div>                        
                      {% if form.sourceFile.vars.errors|length %}
                        <div class="error-left error-left-active">
                            <div class="field-validation-error">
                                <span>{{ form_errors(form.sourceFile) }} {{ form_errors(form.sourceTitle) }}                                      
                                </span>
                            </div>
                        </div>                                    
                        {% endif %}
                    </div>                                   
                </div>                                      
<!--                <div class="field">                                                                    
                    <div style="margin-left: 270px;">                         
                            <?php //echo $form['waterMark'] ?>
                            <?php //echo $form['waterMark']->renderLabel() ?> </div>                            
                </div>          -->
            </form>
            <div class="clear"></div>                   
                {% include "AppFilesBundle:Files:_galleryProduct.html.twig" with { files: files,  quick: quick} %}  
           </fieldset>	
    </div>                    
 
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("a.btn.close").click(function () {
            var href = $(this).attr("href");
            $(href).html("");

            $("#quick-form{{ id }} a").removeClass("active");

            return false;
        });

        $("#FileManager{{ id }}").submit(function () {

            var form = $(this);
            var object = $(this).parent().parent().parent().parent();

            $(this).ajaxSubmit({
                type: "POST",
                url: $(form).attr("action"),
                data: {
                    id: "{{ id }}",
                    feedback: "{{ feedback }}",
                    quick: "{{ quick?1:0 }}"
                },
                dataType: "html",

                beforeSend: function (data) {
                    $("#LoadingInfo{{ id }}").show();
                },
                success: function (data) {
                    $(object, "{{ feedback }}").html(data);

                    if ($(".field-validation-error", $(data)).html() == null)
                        if ("{{ feedback }}" != "#Uploader")
                            $("#productIcon{{ id }}").html($("#showIcon", $(data)).html());
                },
                error: function (data) {
                    console.log(data);
                },
                complete: function (data) {
                }

            });
            return false;

        });

    });
</script>
